<hr class="footer"/>
<div class="footer-pos">
    Follow me <a target="_blank" href="https://twitter.com/toywar" class="footer-icons"><%= image_tag ("icon-twitter.png"), :class => "footer-icons" %>
    </a>
    and fork me <a target="_blank" href="https://github.com/toywar" class="footer-icons"><%= image_tag ("icon-github.png"), :class => "footer-icons" %>
    </a>
</div>
<center>
<a href="/" class="footer-left">www.toywar.ru</a>
</center>
</html>