// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
textarea#post_body {
  display: block;
  width: 500px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}